<div class="blog">
    {% for article in blog.articles %}
        <ul>
            <li>Le {{ article.updated_at }}, <a href="{{ article.handle }}">{{ article.title }}</a></li>
        </ul>
    {% endfor %}

</div>