<div class="panier">
    <h1>Votre panier</h1>
    <ul>
    {% for item in cart.items %}
        <li>
            <p><a href="{{ item.url }}">{{ item.title }}</a></p> 
            <p>quantité : {{ item.quantity }} objet(s)</p> 
        </li>
    {% endfor %}
    </ul>

    <p>Total : {{ cart.total_price | money }}</p>


    {% if cart == empty %}
    <p>Votre panier est vide</p>
    {% else %}
    <p><a href="/cart/clear">Vider le panier</a></p>
    <p><a href="/checkout/">Terminer la commande</a></p>
    {% endif %}
</div>