<div class="search">
  
  {% if search.performed %}
      <ul class="search--results">
      {% for item in search.results %}

          <li>{{ item.title | link_to: item.url }}</li>
      
        {% endfor %}
      </ul>
  {% endif %}

</div>