    {% for link in linklists['footer'].links -%}
        <span>{{ link.title | link_to: link.url }}</span>
    {%- endfor %}

{% schema %}

{
    "name": "footer",
    "class": "footer"
}

{% endschema %}