<div role="header">

    <p><a href="/">Espace Montebello</a></p>
    <p>Panier: {{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }} ({{ cart.total_price | money }})<p>
    
</div>



{% schema %}

{
    "name": "header",
    "class": "header"

}

{% endschema %}