<nav role="navigation">
  <ul>
    {% for link in linklists.main-menu.links %}
      <a href="{{ link.url }}">{{ link.title }}</a>
    {% endfor %}
  </ul>
</nav>

{% schema %}

{
    "name": "navigation",
    "class": "navigation"

}

{% endschema %}