<nav role="navigation">
  <ul>
    {%- for link in linklists.main-menu.links -%}
      {{ link }}
    {%- endfor -%}
  </ul>
</nav>

{% schema %}

{
    "name": "navigation",
    "class": "navigation"

}

{% endschema %}