<nav role="navigation">
  {{ linklists | json }}
  <ul>
    {%- for link in linklists.main-menu.links -%}
      {{ link | json }}
    {%- endfor -%}
  </ul>
</nav>

{% schema %}

{
    "name": "navigation",
    "class": "navigation"

}

{% endschema %}