@font-face {
    font-family: "method";
    src: local("method"), url({{ MethodMono-Regular.woff | asset_url }}) format("woff");}


a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: line-through;
}


.container {
    display: flex;
    flex-direction: column;
    /* margin: 20px; */
    font-family: 'method', Courier, monospace;
}

.container--content {
    display: flex;
    flex-direction: row;
}

.header {
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    padding-top: 10px;
    padding-left: 10px;
}

.header--item {
    width: 430px;   
}

.navigation {
    width: 200px;
    position: fixed;
    margin-top: 70px;
    padding-left: 20px;
    /* padding-top: 10px; */
}

.navigation li {
    margin-bottom: 5px;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 200px;
    padding-top: 70px;
}

.content--item {
    width : 200px;
    padding-right: 20px;
}

figcaption {
    padding-top: 10px;
}


img {
    width: 100%;
}

.page {
    width: 40%;
    margin-left: 200px;
    margin-top: 70px;
}

h1 {
    margin-bottom: 10px;
}

.product {
    display: flex;
    width: 100%;
    margin-left: 200px;
    margin-top: 70px;
}

.product--info {
    width: 20%;
    padding-right: 10px;
    padding-left: 20px;
}

.product--info h1 {
    text-decoration: underline;
}

.product--info button {
    border: 1px solid black;
    padding: 5px;
    font-family: 'method', Courier, monospace;
    cursor: pointer;
}

.product-form input {
    border: 1px solid black;
    padding: 5px;
    font-family: 'method', Courier, monospace;
    cursor: pointer;
}

.product--images {
    width: 50%;
}

p {
    margin-bottom: 10px;
}

ul {
    margin-bottom: 10px;
}

.panier {
    margin-left: 200px;
    margin-top: 70px;
}

.collections {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 200px;
    margin-top: 70px;
}

.collection--item {
    display: flex;
    flex-direction: column;
    
}

.collection--item figure {
    width: 200px;
}

.blog {
    width: 60%;
    margin-left: 200px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}

.blog article {
    width: 50%;
}

.blog figure {
    width: 50%;
}