.container {
    display: flex;
    flex-direction: row;
}

.navigation {
    width: 10%;
    background-color: bisque;
}

.content {
    width: 90%;
    background-color: green;
    display: flex;
    flex-direction: row;
}

.all_products {
    width: 200px;
}

img {
    width: 100%;
}